@use "../abstracts/" as a;

body {
  background: a.$clr-neutral-700;
}

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 1000;
  padding: a.rem(10) 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: a.$clr-neutral-700;

  .logo {
    color: a.$clr-accent-700;
    text-decoration: none;
    font-weight: bolder;
    font-size: a.rem(20);
    // font-size: clamp(a.rem(16), a.rem(6.35) + 1vw, a.rem(40));
    // font-size: (0.396875rem + 1vw);

    span {
      color: a.$clr-primary-700;
    }

    &::before {
      content: url(../assets/img/icons/logo.svg);
      display: block;
      width: a.rem(90);
      margin-inline: auto;
      margin-bottom: a.rem(-15);
    }
  }
}
