@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
/* website colors */
:root {
  --pri-col: black;
  --sec-col: tomato;
  --text-col: white;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background-color: var(--pri-col);
}
html::-webkit-scrollbar-thumb {
  background-color: var(--sec-col);
}
body {
  background-color: var(--pri-col);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 8%;
  display: flex;
  align-items: center;
  color: var(--text-col);
  justify-content: space-between;
  z-index: 1000;
}
.header .logo {
  font-weight: bolder;
  color: var(--text-col);
  font-size: 3rem;
}
.header .logo span {
  color: var(--sec-col);
}
.header .navbar a {
  display: inline-block;
  padding: 1.5rem 2rem;
  font-size: 1.7rem;
  color: var(--text-col);
}
.header .navbar a:hover {
  color: #baa6cf;
}
.header .navbar a:active {
  color: var(--sec-col);
}
section {
  padding: 5rem 9%;
}
.heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}
.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 0.1rem;
  width: 100%;
  background: #aaa;
  z-index: -1;
}
.heading span {
  font-size: 3rem;
  color: var(--sec-col);
  background: var(--pri-col);
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
}
.image img {
  width: 30%;
}
.btn {
  margin-top: 2rem;
  width: 150px;
  padding: 12px;
  color: var(--text-col);
  background: linear-gradient(130deg, var(--sec-col) 93%, transparent 90%);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(130deg, rgba(212, 48, 48, 0.76) 93%, transparent 90%);
  transform: scale(1.1);
}

/* Home Section */
/* .max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
section {
  padding: 50px 0 50px 0;
}
.home {
  display: flex;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .home-content {
  width: 50%;
  padding: 2rem;
}
.home h3 {
  color: white;
  margin-top: 6rem;
  font-size: 5rem;
  font-family: "Philosopher", sans-serif;
}
.home h3 span{
  color: secco;
  margin-top: 6rem;
  font-size: 5rem;
  font-family: "Philosopher", sans-serif;
}
.home p {
  color: rgb(194, 191, 191);
  margin-top: 1rem;
  font-size: 12px;
}
.home .home-image {
  width: 50%;
}
.home .home-content img {
  width: 100%;
  height: 100%;
} */
#menu-btn {
  font-size: 3rem;
  color: var(--text-col);
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  margin-top: 6.5rem;
}

.slide {
  min-height: 70vh;
  background-size: cover !important;
  background-position: center !important;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
}

.slide .content {
  width: 60rem;
}

.slide .content h3 {
  margin-top: 6rem;
  font-family: "Philosopher", sans-serif;
  font-size: 5rem;
  color: var(--text-col);
  padding: 1rem 0;
}
.slide .content h3 span{
  color: var(--sec-col);
  margin-top: 6rem;
  font-size: 5rem;
  font-family: "Philosopher", sans-serif;
}
.slide p {
  color: rgb(194, 191, 191);
  margin-top: 1rem;
  font-size: 15px;
} 
.swiper-pagination-bullet {
  height: 2rem;
  width: 2rem;
  background: var(--text-col);
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  background: var(--sec-col);
}
.features .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
}
.features .box-container .box {
  background-color: #111;
}
.second {
  display: flex;
  flex-flow: column-reverse;
}
.features .box-container .box:hover .image img {
  transform: scale(1.1);
}
.features .box-container .box .image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.features .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.features .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.features .box-container .box .content img {
  height: 9rem;
  margin-bottom: 1rem;
  filter: invert(1);
}
.features .box-container .box .content h3 {
  font-size: 2rem;
  color: var(--sec-col);
}
.features .box-container .box .content p {
  line-height: 2;
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}

.trainers .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  gap: 1.5rem;
}
.trainers .box-container .box{
  height: 40rem;
  overflow: hidden;
  position: relative;
}
.trainers .box-container .box:hover .content{
  transform: translateY(0);
}
.trainers .box-container .box img{
  /* height: 100%; */
  width: 100%;
  object-fit: cover;
}
.trainers .box-container .box .content{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  padding: 2rem;
  transform: translateY(6.5rem);
}
.trainers .box-container .box .content span{
  font-size: 1.5rem;
  color: var(--sec-col);
}
.trainers .box-container .box .content h3{
  font-size: 2rem;
  color: var(--text-col);
  padding-top: 0.5rem;
}
.trainers .box-container .box .content .share{
  padding-top: 2rem;
  margin-top: 1.5rem;
  border-top: 0.1rem solid #aaa;
}
.trainers .box-container .box .content .share a{
  font-size: 2rem;
  color: var(--text-col);
  margin-right: 1.5rem;
}
.trainers .box-container .box .content .share a:hover{
  color: var(--sec-col);
}

.pricing{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.pricing .information span{
  font-size: 2rem;
  color: var(--sec-col);
}
.pricing .information h3{
  font-size: 4rem;
  padding-top: 0.5rem;
  color: var(--text-col);
}
.pricing .information p{
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}
.pricing .information p i{
  padding-right: 1rem;
  color: var(--sec-col);
}
.pricing .plan{
  text-align: center;
  padding: 2rem;
}
.basic{
  background: linear-gradient(130deg, #111 93%, transparent 90%);
}
.pricing .plan h3{ 
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--text-col);
}
.pricing .plan .price{ 
  font-size: 5rem;
  font-weight: bolder;  
  color: var(--sec-col);
}
.pricing .plan .price span{ 
  color: var(--text-col);
  font-size: 2rem;
}
.pricing .plan .list{
  padding: 1rem 0;
}
.pricing .plan .list p{
  line-height: 2;
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
}
.pricing .plan .list p i{
  padding-right: 1rem;
  color: var(--sec-col);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3{
  font-size: 2.2rem;
  color: var(--text-col);
  padding: 1rem 0;
}
.footer .box-container .box .links{
  font-size: 1.5rem;
  display: block;
  color: var(--text-col);
  padding: 1rem 0;
}
.footer .box-container .box .links:hover{
  color: var(--sec-col);
}
.footer .box-container .box p{
  font-size: 1.5rem;
  color: #aaa;
  padding: 1rem 0;
}
.footer .box-container .box p i{
  padding-right: .5rem;
  color: var(--sec-col);
}
.footer .box-container .box .share{
  padding: 1rem 0;
}
.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.7rem;
  color: var(--text-col);
  background: #111;
  border-radius: 50%;
  margin-right: .5rem;
  text-align: center;
}
.footer .box-container .box .share a:hover{
  background: var(--sec-col);
}

.credit{
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  color: var(--text-col);
  background: #111;
  line-height: 1.5;
}
.credit span{
  color: var(--sec-col);
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 0 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
  .home .slide {
    padding: 2rem 5%;
  }
  .home .slide .content {
    width: 50rem;
  }
  .home .slide h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  .header {
    padding: 2rem;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--pri-col);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
  }
  .features .box-container .box.second {
    flex-flow: column;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
